section {
  display: flex;
  justify-content: center;
  padding: 80px;
}
main {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 80%;
  height: 50%;
  border-radius: 20px;
  box-shadow: 0px, 0px, 5px,0px rgba(0, 0, 0, .75) ;
}
.task-container {
  display: flex;
  align-items: center;
}
.task {
  flex: auto;
  
}
.toForm{
    display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.addForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.add {
  display: flex;
  background-color: #ff1493;
  justify-content: center;
}
.button{
    
    width: 60px;
    height: 30px;
}

.done{
  text-decoration: line-through;
}